@mixin flex-list() {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@mixin flex-list-second {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-list-third {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@mixin card-item-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;

  position: static;
  width: 328px;
  height: 210px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  flex: none;
  flex-grow: 0;
  margin: 10px 0px;
}
@mixin icn-settings {
  width: 44px;
  height: 44px;
}
@mixin card-item-h3-list {
  padding-top: 12px;
  font-family: Martel;
  font-weight: bold;
  font-style: normal;
  color: $text-color;
  font-size: 24px;
  letter-spacing: 0.1px;
}
@mixin card-item-p-list {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  flex-grow: 0;
  margin: 10px 0px;
}
@mixin h2-list {
  padding: 15px 54px 0px;
  font-family: Martel;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
}
@mixin h5-list {
  font-family: Martel;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}
